[submodule "ThirdParty/HMath"]
	path = ThirdParty/HMath
	url = https://github.com/hgl-pong/HMath.git
[submodule "ThirdParty/MagnumRenderer"]
	path = ThirdParty/MagnumRenderer
	url = https://github.com/hgl-pong/MagnumRenderer.git
